{% extends 'base-back.html.twig' %}

{% block title %}Edit Type{% endblock %}

{% block body %}
<<<<<<< HEAD
<style>
    .bn60 {
  background-color: #190c8d;
  color: #ffffff;
  font-size: 1.3em;
  font-weight: 400;
  position: relative;
  outline: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 55px;
  width: 100px;
}
</style>
=======
>>>>>>> ba85304107831b3acd7bbc56141d72ddff22ce70
    <h1>Edit Type</h1>

    {{ include('type/_form.html.twig', {'button_label': 'Update'}) }}

<<<<<<< HEAD
    <a  class="bn60" href="{{ path('app_type_index') }}">back to list</a>
=======
    <a href="{{ path('app_type_index') }}">back to list</a>
>>>>>>> ba85304107831b3acd7bbc56141d72ddff22ce70

    {{ include('type/_delete_form.html.twig') }}
{% endblock %}
