{% extends 'base-back.html.twig' %}

{% block title %}New Convention{% endblock %}

{% block body %}
    <h1>Create new Convention</h1>

    {{ include('convention/_form.html.twig') }}

    <a href="{{ path('app_convention_index') }}">back to list</a>
{% endblock %}
